body{
  background: #E8CBC0;
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
  background: linear-gradient(to right, #636FA4, #E8CBC0);
  font-family:'Josefin','Microsoft JhengHei'; 
}
.outside{
  margin-top:100px;
  margin-bottom:100px;
}

a{
  color:black;
}
a:hover{
  color:#345FDF;
}
p:hover{
  color:#345FDF;
}
.icon{
  color:white;
}
.icon:hover{
  color:#D2143A;
}

img{
  filter: grayscale(100%);
}
img:hover{
  filter: grayscale(0%);
}

.profilepic{
  position:relative;
}

.stickerimg{
  width:250px;
  height:250px;
  padding:30px;
  display:block;
}

.sign{
  position:absolute;
  left:30px;
  top:150px;
  line-height: 18px;
  font-family:'Nothing You Could Do'; 
}
.sign:hover{
  color:#D2143A;
}

.eng{
  font-size:small;
}

.odd{
    background-color:#DCDCDC;
    padding:30px;
}
.even{
  background-color:#D3D3D3;
  padding:30px;
}

.footer{
  text-align:center;
  font-size:smaller;
}

.swing{
  animation-duration: 3s;
  animation-name: swing;
  animation-iteration-count:1;
}
.fadeinleft{
  animation-duration: 3s;
  animation-name: fadeInLeft;
  animation-iteration-count:1;
}

.name{
  font-weight:650;
  font-size:x-large;
}

h2{
  font-family:'Bitter';
  font-weight:580;
  font-size:x-large;
  margin:20px;
}

h2:hover{
  color:#D2143A;
  transition: 1s;
}

h3{
  font-family:'Bitter';
  font-weight:580;
  font-size: large;
  margin-bottom:0px;
}

h4,h5{
  font-weight: bold;
}

.icon{
  margin:5px;
}

li{
  list-style-type: none;
  margin:10px;
}