
body{
 background: #E8CBC0;
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
  background: linear-gradient(to right, #636FA4, #E8CBC0);
  font-family:'Josefin','Microsoft JhengHei'; 
}
.outside{
  margin-top:70px;
  margin-bottom:70px;
}
h3{
  font-family:'Bitter';
  font-weight:580;
}
.biglogo{
  animation-duration: 1.5s;
  animation-name:  pulse;
  animation-iteration-count: infinite;
}
.the{
  font-size:small;
}
.the:hover{
  color:#D2143A;
}
a{
  color:black;
}
a:hover{
  color:#345FDF;
}
p:hover{
  color:#345FDF;
}
.icon{
  color:white;
}
.icon:hover{
  color:#D2143A;
}

img{
  filter: grayscale(100%);
}
img:hover{
  filter: grayscale(0%);
}
video{
  filter: grayscale(100%);
}
video:hover{
  filter: grayscale(0%);
}
.col-sm-12{
  margin:10px;
}

.stickerimg{
  position:relative;
  width:250px;
  height:250px;
  padding:30px;
}
.name{
  position:absolute;
  left:30px;
  top:150px;
  line-height: 18px;
  font-family:'Nothing You Could Do'; 
}
.name:hover{
  color:#D2143A;
}

.eng{
  font-size:small;
}

.progress-bar{
  background-color:#272727;
}
.progress{
    height:30px;
    margin:10px;
    font-size:small;
}
.progress-bar:hover{
  background-color:#345FDF;
}
.workimg{
  width:100%;
  height:auto;
}

.odd{
    background-color:#DCDCDC;
}
.even{
  background-color:#D3D3D3;
}

.intro{
  position:relative;
  
}
.intro1{
  position:absolute;
  padding-bottom:30px;
  bottom:0px;
  left:0px;
  text-align:center;
}


.timeline{
list-style-type: none;
border-top: 1px solid black;
padding: 0px;
}

li {
float: left;
position: relative;
text-align: center;
width: 25%;
}

.timeline li b:before {
position: absolute;
top: -5px;
left: 45%;
border: 3px solid ;
content: '';
border-radius: 50%;
background-color:black;
width: 10px;
height: 10px;
}

.bar{
  padding:20px;
}

#demo{
  text-align:center;
}
.footer{
  text-align:center;
   font-size:smaller;
}

.swing{
  animation-duration: 3s;
  animation-name: swing;
  animation-iteration-count:1;
}
.fadeinleft{
   animation-duration: 3s;
  animation-name: fadeInLeft;
  animation-iteration-count:1;
}
.flip{
  animation-duration: 4s;
  animation-name:  flipInX;
  animation-iteration-count: 1;
}
h3:hover{
  color:#D2143A;
  transition: 1s;
}

.hinge{
   animation-duration: 3s;
  animation-name:  hinge;
  animation-iteration-count: infinite;
}

.time{
  animation-delay:3s;
  animation-duration: 2s;
  animation-name:  slideInDown;
  animation-iteration-count: 1;
  margin-top:20px;
}